In [2]:
import pandas as pd

In [18]:
gym = pd.read_csv('gym.csv')
_df = pd.DataFrame()
df =gym['title'].str.split(pat=' - ', expand= True)
df[[0, 1]]

_df['title'] = df[0]
_df['Journal'] = df[1]
_df['category'] = gym['category']

_df

,title,Journal,category
0,'Watch this creep': the women exposing gym har...,The Guardian,gym
1,Indiana high school basketball gyms: Pine Vill...,IndyStar,gym
2,‘I always say yes’: How can I deal with aggres...,MarketWatch,gym
3,With growing Black representation in gymnastic...,11Alive.com WXIA,gym
4,How a trans woman navigates the gym and locker...,Insider,gym
...,...,...,...
91,You don't need the gym to build stronger arms ...,Fit and Well,gym
92,Motions Fitness gym hits 20-year milestone,WLUC,gym
93,Looking for a new gym in Kansas City? Try out ...,KCUR,gym
94,Best gym bag essentials for January 2023,CBS News,gym
95,"Hamilton County teacher, YMCA gym instructor c...",WTVC,gym

In [4]:
psychology = pd.read_csv('psychology.csv')
psychology

                                                title    category
0   Glendale college professor using magic to stir...  psychology
1   'Dark Psychology' TikTok Is Just Pickup Artist...  psychology
2         Are Wise People Happier? - Psychology Today  psychology
3   What’s That Smell? The Psychology of Scent - P...  psychology
4   New study links "catfishing" to heightened lev...  psychology
..                                                ...         ...
92  California Cannabis Legalization Stirs Governm...  psychology
93  Donors Help USM Secure Autism Diagnostic Train...  psychology
94  Research Assistant in the Division of Science ...  psychology
95  Viaplay, SF Studios Cast Nordic Stars Julia Ra...  psychology
96  Joe Rogan Gets Told to His Face Why Jordan Pet...  psychology

[97 rows x 2 columns]

In [6]:
history = pd.read_csv('history.csv')
history

                                                title category
0   Longtime SC state senator makes history while ...  history
1   Opinion | It’s not American history if you era...  history
2   How to celebrate Black History Month in Utah -...  history
3   On this day in history, Feb. 3, 1870, 15th Ame...  history
4   Wikipedia is not a reliable source for Indigen...  history
..                                                ...      ...
95                        Code of Hammurabi - History  history
96  The forgotten history of the US' African Ameri...  history
97  Rap Sheets (Identity History Summary Checks) —...  history
98                            Joseph Stalin - History  history
99  DOE National Laboratory Makes History by Achie...  history

[100 rows x 2 columns]

In [7]:
literature =  pd.read_csv('literature.csv')
literature

                                                title    category
0   Melbourne author Jessica Au wins $100,000 Vict...  literature
1   Top 10 imaginary journeys in literature - The ...  literature
2   Brazil’s Lula Promised ‘More Books in Place of...  literature
3   Final Jeopardy: Literature (2-1-23) – Fikkle F...  literature
4   JCB Prize for Literature 2022-winning translat...  literature
..                                                ...         ...
92  'Amend to Jail Manual': Baloch female inmate w...  literature
93  Man passing out antisemitic literature at nigh...  literature
94  Māori Voyaged to Antarctica at Least 1000 Year...  literature
95  A.I. text generators could change journalism, ...  literature
96       Race everywhere | Literature - City-sentinel  literature

[97 rows x 2 columns]

In [8]:
history =  pd.read_csv('history.csv')
history

                                                title category
0   Longtime SC state senator makes history while ...  history
1   Opinion | It’s not American history if you era...  history
2   How to celebrate Black History Month in Utah -...  history
3   On this day in history, Feb. 3, 1870, 15th Ame...  history
4   Wikipedia is not a reliable source for Indigen...  history
..                                                ...      ...
95                        Code of Hammurabi - History  history
96  The forgotten history of the US' African Ameri...  history
97  Rap Sheets (Identity History Summary Checks) —...  history
98                            Joseph Stalin - History  history
99  DOE National Laboratory Makes History by Achie...  history

[100 rows x 2 columns]

In [3]:
dataset =  pd.read_csv('dataset.csv')
dataset

,title,Journal,category
0,Glendale college professor using magic to stir...,Arizona's Family,psychology
1,Are Wise People Happier?,Psychology Today,psychology
2,'Dark Psychology' TikTok Is Just Pickup Artist...,VICE,psychology
3,"New study links ""catfishing"" to heightened lev...",PsyPost,psychology
4,A journey from work to home is about more than...,The Conversation,psychology
...,...,...,...
673,Vedanta literature gets popular at book fair,The Statesman,literature
674,Man passing out antisemitic literature at nigh...,Southgate News Herald,literature
675,'Amend to Jail Manual': Baloch female inmate w...,Pakistan Today,literature
676,Māori Voyaged to Antarctica at Least 1000 Year...,ScienceAlert,literature
677,"A.I. text generators could change journalism, ...",Tennessean,literature